@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-y-scroll bg-white text-slate-700 dark:bg-stone-800 dark:text-gray-100;
  }

  p {
    @apply leading-7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  b,
  a {
    @apply text-black dark:text-white;
  }

  a {
    @apply relative box-border inline;

    &::before {
      @apply absolute -bottom-0.5 -left-1.5 -right-1.5 -top-0.5 -z-10 rounded transition-all hover:bg-gray-100 dark:hover:bg-stone-700;
      content: "";
    }
  }

  h1 {
    @apply text-xl font-semibold;
  }

  h2 {
    @apply text-lg font-semibold;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-gray-100 dark:bg-stone-700;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #f3f4f6 transparent;
  }

  @media (prefers-color-scheme: dark) {
    * {
      scrollbar-color: #44403c transparent;
    }
  }
}

@layer components {
  .markdown-content {
    @apply box-border w-full space-y-8;

    a {
      @apply text-black underline underline-offset-4 dark:text-white;
    }

    h1,
    h2,
    h3 {
      @apply before:mr-2 before:box-content before:rounded-md before:bg-black before:pl-1.5 dark:before:bg-white;
    }

    strong {
      @apply font-bold;
    }

    ul {
      @apply ml-4 list-disc;
    }

    ol {
      @apply ml-4 list-decimal;
    }

    li {
      @apply break-keep leading-7;

      ul {
        @apply mt-2;
      }
    }

    li:not(:last-child) {
      @apply mb-2;
    }

    img {
      @apply mx-auto;
    }

    blockquote {
      @apply border-l-4 border-gray-300 p-4 italic;
    }

    details {
      @apply space-y-4;
      summary {
        @apply cursor-pointer;
      }
      p {
        @apply ml-4;
      }
    }

    .twitter-tweet {
      @apply m-0;
    }

    table {
      @apply w-full border-collapse border border-slate-300;
      & td,
      & th {
        @apply border border-slate-300 p-2;
      }
    }

    code:not(pre code) {
      @apply mx-0.5 inline-block whitespace-normal break-all rounded-md bg-gray-100 px-1 py-0.5 text-sm font-semibold text-black dark:bg-stone-700 dark:text-white;
      &::after,
      &::before {
        @apply content-none;
      }
    }

    pre.shiki {
      @apply box-border overflow-auto break-words rounded-md border px-6 py-4 text-sm dark:border-none;
    }

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;

      .shiki,
      .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
      }
    }
  }

  .resume {
    h1 {
      @apply text-3xl text-inherit;
    }

    h2 {
      @apply text-2xl text-inherit;
    }

    h3 {
      @apply text-xl font-semibold text-inherit;
    }

    a {
      @apply underline cursor-pointer text-blue-500 print:no-underline;

      &::before {
        @apply content-none;
      }
    }

    ul {
      @apply ml-4 list-disc;
    }

    ol {
      @apply ml-4 list-decimal;
    }

    li {
      @apply break-keep leading-7;

      ul {
        @apply mt-2;
      }
    }
  }
}
