---
import IconLink from "@/components/Base/IconLink.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="mt-4 mb-0 markdown space-y-8">
    <h1>백민종 (BAEK MIN JONG)</h1>
    <div class="space-y-4">
      <p>
        브라우저와 프론트엔드 기술의 발전으로 인해 웹이 다양한 것을 할 수 있다는
        것에 크게 흥미를 느끼고 프론트엔드 개발자로 커리어를 전환 중입니다.
      </p>
      <p>
        저는
        <span class="bg-black dark:bg-white py-1 px-2 text-blue-500 rounded-md"
          >_ _ _ _ _</span
        >
        하는 것을 좋아합니다.
      </p>
      <ol class="list-decimal space-y-2">
        <li class="ml-4">효율적으로 작업할 수 있는 방법을 찾는 것을</li>
        <li class="ml-4">
          개발 과정에서 발생할 수 있는 문제를 최소화할 수 있는 방법을 찾는 것을
        </li>
      </ol>
      <div class="space-y-2">
        <IconLink icon="github" href="https://github.com/minjongbaek">
          minjongbaek
        </IconLink>
        <IconLink icon="link" href="/resume">이력서</IconLink>
      </div>
    </div>
  </div>
</Layout>
