---
import BaseHead from "../components/BaseHead.astro";
import Layout from "../layouts/Layout";
import PostList from "../components/PostList";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("post")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Layout>
      <PostList posts={posts} />
    </Layout>
  </body>
</html>
