---
import BaseHead from "../components/BaseHead.astro";
import Layout from "@/layouts/Layout.astro";
import PostList from "../components/PostList";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("post")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Layout>
      <img class="rounded-lg pointer-events-none" src="/logo.png " alt="logo" />
      <PostList posts={posts} />
    </Layout>
  </body>
</html>
