---
import Layout from "@/layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import PostList from "../components/Post/PostList";
import { getCollection } from "astro:content";

const posts = (await getCollection("post")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<Layout>
  <div class="aspect-video w-full select-none sm:block hidden">
    <Picture
      src="/images/logo.png"
      widths={[800, 1000, 1200, 1400]}
      aspectRatio="16:9"
      sizes="(max-width: 736px) 100vw, 736px"
      alt="logo"
      class="rounded-lg"
    />
  </div>
  <PostList posts={posts} />
</Layout>
