---
import BaseHead from "@/components/Common/BaseHead.astro";
import ResumeExperience from "@/components/Resume/ResumeExperience.astro";
import ResumeStyles from "@/components/Styles/ResumeStyles.astro";
import { dateFormat, getPreiod } from "@/utils/helpers/date";
import { Picture } from "@astrojs/image/components";
import Icon from "astro-icon";
import { getCollection } from "astro:content";

const { searchParams } = Astro.url;
const isShowProfileImage = searchParams.get("profile") === "y" ? true : false;

const experiences = await Promise.all(
  (
    await getCollection("experience")
  )
    .sort((a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf())
    .map(async ({ data, slug, render }) => ({
      ...data,
      startDate: dateFormat(data.startDate),
      endDate: data.endDate ? dateFormat(data.endDate) : data.endDate,
      period: getPreiod(data.startDate, data.endDate),
      type: slug.split("/")[0] as
        | "carrer"
        | "project"
        | "activity"
        | "education",
      Content: await render().then(({ Content }) => Content),
    }))
);
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <BaseHead
      title="백민종 | 이력서"
      description="안녕하세요, 웹 프론트엔드 개발자로 커리어를 전환 중인 백민종입니다."
    />
  </head>
  <body>
    <ResumeStyles />
    <main class="container mx-auto p-12 max-w-3xl print space-y-6 break-keep">
      <div class="space-y-4">
        <h1 class="text-3xl font-bold">백민종</h1>
        <div class="flex justify-between items-top gap-4">
          {
            isShowProfileImage && (
              <div class="w-80">
                <Picture
                  src="/images/profile.png"
                  widths={[600]}
                  aspectRatio="3:4"
                  alt="logo"
                  class="border"
                />
              </div>
            )
          }
          <div class="space-y-2">
            <p>
              더 좋은 결과물을 만들기 위해 팀원들이 효율적으로 작업할 수 있는
              방법과 개발 과정에서 발생할 수 있는 문제를 최소화할 수 있는 방법을
              찾는 것을 좋아합니다.
            </p>
            <p>
              jQuery로 작성된 코드를 Vue.js로 마이그레이션 하면서 처음으로
              프론트엔드 개발에 관심을 갖게되었고, 사용자와 서비스를 연결하기
              위한 모든 것을 구현하는 프론트엔드 개발에 재미를 느꼈습니다.
              재미를 느끼면 더욱 몰두하고 집중하는 제 성격과 맞물려 프론트엔드
              개발자로 커리어를 전환 중입니다.
            </p>
            <p>
              기능 구현을 잘하고 서비스를 잘 만드는 것을 넘어서, 메이커로서 함께
              서비스를 성공시키고 싶습니다.
            </p>
            <div class="flex gap-1">
              <Icon name="github" class="w-4" />
              <a href="https://github.com/minjongbaek" target="_blank">
                https://github.com/minjongbaek
              </a>
            </div>
            <div class="flex gap-1">
              <Icon name="link" class="w-4" />
              <a href="https://blog.minjong.codes" target="_blank">
                https://blog.minjong.codes
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-8">
        {
          experiences
            .filter((experience) => experience.type === "carrer")
            .map((experience, index) => (
              <ResumeExperience isFirst={index === 0} {...experience} />
            ))
        }
      </div>
      <div class="space-y-8">
        {
          experiences
            .filter((experience) => experience.type === "project")
            .map((experience, index) => (
              <ResumeExperience isFirst={index === 0} {...experience} />
            ))
        }
      </div>
      <div class="space-y-8">
        {
          experiences
            .filter((experience) => experience.type === "activity")
            .map((experience, index) => (
              <ResumeExperience isFirst={index === 0} {...experience} />
            ))
        }
      </div>

      <div class="space-y-8">
        {
          experiences
            .filter((experience) => experience.type === "education")
            .map((experience, index) => (
              <ResumeExperience isFirst={index === 0} {...experience} />
            ))
        }
      </div>
    </main>
  </body>
</html>
