---
import BaseHead from "@/components/Common/BaseHead.astro";
import ResumeExperience from "@/components/Resume/ResumeExperience.astro";
import { dateFormat, getPreiod } from "@/utils/helpers/date";
import { getCollection } from "astro:content";
import "@/styles/resume.css";
import GithubIcon from "@/components/Common/Icon/GithubIcon.astro";
import LinkIcon from "@/components/Common/Icon/LinkIcon.astro";

const experiences = await Promise.all(
  (await getCollection("experience"))
    .sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime())
    .map(async ({ data, slug, render }) => ({
      ...data,
      startDate: dateFormat(data.startDate),
      endDate: data.endDate ? dateFormat(data.endDate) : data.endDate,
      period: getPreiod(data.startDate, data.endDate),
      type: slug.split("/")[0] as
        | "carrer"
        | "project"
        | "activity"
        | "education",
      Content: await render().then(({ Content }) => Content),
    }))
);
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead
      title="백민종 | 이력서"
      description="안녕하세요, 웹 프론트엔드 개발자 백민종입니다."
    />
  </head>
  <body>
    <main
      class="container mx-auto px-12 py-8 max-w-3xl print space-y-6 break-keep"
    >
      <div class="no-print text-sm italic text-center text-slate-400">
        이력서는 A4 용지에 최적화되어있습니다.
      </div>
      <div class="space-y-4">
        <h1 class="text-3xl font-bold">백민종</h1>
        <div class="flex justify-between items-top gap-4">
          <div class="space-y-2">
            <p>
              더 좋은 결과물을 만들기 위해 팀원들이 효율적으로 작업할 수 있는
              방법과 개발 과정에서 발생할 수 있는 문제를 최소화할 수 있는 방법을
              찾는 것을 좋아합니다.
            </p>
            <p>
              사용자와 서비스를 연결하기 위한 모든 것을 구현하는 프론트엔드
              개발에 매력을 느끼고 커리어를 이어나가고 있습니다.
            </p>
            <p>
              단순히 기능 구현을 잘하고 서비스를 잘 만드는 것을 넘어서, 지속
              가능한 개발자가 되어 서비스를 함께 성공시키고 싶습니다.
            </p>
            <div class="flex gap-1.5 items-center">
              <GithubIcon class="w-4 h-4" />
              <a href="https://github.com/minjongbaek" target="_blank">
                https://github.com/minjongbaek
              </a>
            </div>
            <div class="flex gap-1.5 items-center">
              <LinkIcon class="w-4 h-4" />
              <a href="https://blog.minjong.codes" target="_blank">
                https://blog.minjong.codes
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-8">
        {
          experiences
            .filter((experience) => experience.type === "carrer")
            .map((experience, index) => (
              <ResumeExperience isFirst={index === 0} {...experience} />
            ))
        }
      </div>
      <div class="space-y-8">
        {
          experiences
            .filter((experience) => experience.type === "project")
            .map((experience, index) => (
              <ResumeExperience isFirst={index === 0} {...experience} />
            ))
        }
      </div>
      <div class="space-y-8">
        {
          experiences
            .filter((experience) => experience.type === "activity")
            .map((experience, index) => (
              <ResumeExperience isFirst={index === 0} {...experience} />
            ))
        }
      </div>

      <div class="space-y-8">
        {
          experiences
            .filter((experience) => experience.type === "education")
            .map((experience, index) => (
              <ResumeExperience isFirst={index === 0} {...experience} />
            ))
        }
      </div>
      <div class="space-y-8">
        <div class="print-break">
          <h2 class="text-2xl my-2 font-semibold pb-1 border-b">자격증</h2>
          <div class="flex gap-4">
            <div class="w-40 flex-shrink-0 text-md text-gray-600 space-y-1">
              2019.11
            </div>
            <div class="space-y-2">
              <h3 class="text-2xl font-semibold">정보처리기사</h3>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
