---
import { getCollection, type CollectionEntry } from "astro:content";
import Comment from "@/components/Post/PostComment.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Tag from "@/components/Common/Tag.astro";

export async function getStaticPaths() {
  const posts = await getCollection("post");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"post">;

const post = Astro.props;
const { title, date, tags, description } = post.data;

const meta = {
  title,
  description,
  keywords: tags.join(", "),
};

const { Content } = await post.render();
---

<BaseLayout {...meta}>
  <div class="flex flex-col items-center gap-4 mt-6 mb-10">
    <h1 class="text-2xl font-bold text-center break-keep">{title}</h1>
    <div class="text-slate-500">{date.toLocaleDateString("ko-KR")}</div>

    <div class="flex gap-4">
      {tags.map((tag) => <Tag>#{tag}</Tag>)}
    </div>
  </div>
  <div class="markdown-content space-y-4 mb-8">
    <Content />
  </div>
  <Comment />
</BaseLayout>
