---
import { CollectionEntry, getCollection } from "astro:content";
import Comment from "@/components/Base/Comment.astro";
import PostHeader from "@/components/Post/PostHeader";
import BlogLayout from "@/layouts/BlogLayout.astro";
import BaseHead from "@/components/Base/BaseHead.astro";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("post");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"post">;

const post = Astro.props;
const { title, date, tags, description } = post.data;
const { Content } = await post.render();
---

<BlogLayout>
  <BaseHead
    title={title}
    description={description}
    keywords={tags.join(",")}
    slot="base-head"
  />
  <PostHeader
    title={title}
    date={date.toLocaleDateString("ko-KR")}
    tags={tags}
  />
  <div class="markdown space-y-8 mb-8">
    <Content />
  </div>
  <Comment />
</BlogLayout>
