---
import ThemeIcon from "./ThemeToggle.astro";
---

<header class="sticky top-0 bg-white z-20 border-b-2 mb-2 dark:bg-stone-900">
  <div class="py-3 flex justify-between items-center">
    <a
      href="/"
      class="font-semibold text-xl select-none hover:text-blue-500 transition-colors duration-300"
    >
      Blog.minjongdev
    </a>
    <div class="flex font-semibold items-center gap-3">
      <a
        href="/about"
        class="select-none hover:text-blue-500 transition-colors duration-300"
      >
        About
      </a>
      <ThemeIcon />
    </div>
  </div>
</header>
