---
import { Icon } from "astro-icon";
import ThemeIcon from "./ThemeToggle.astro";
---

<header class="sticky top-0 bg-white z-20 border-b-2 mb-2 dark:bg-stone-900">
  <div class="py-3 flex justify-between items-center">
    <a
      href="/"
      class="font-semibold text-xl select-none hover:text-blue-500 transition-colors duration-300"
    >
      Blog.minjong
    </a>
    <div class="flex font-semibold items-center gap-3">
      <a href="https://github.com/minjongbaek">
        <Icon name="github" class="w-5 dark:fill-gray-100" />
      </a>
      <ThemeIcon />
    </div>
  </div>
</header>
