<footer class="mt-2 text-sm text-gray-500">
  <div class="flex justify-center p-4">
    <a
      href="https://github.com/minjongbaek"
      target="_blank"
      rel="noreferrer"
      class="hover:underline"
    >
      &copy; minjongbaek
    </a>
  </div>
</footer>
