---
import GithubIcon from "./Icon/GithubIcon.astro";
---

<header class="sticky top-0 bg-white z-20 dark:bg-stone-900">
  <div class="py-3 flex justify-between items-center">
    <a href="/" class="font-semibold text-xl select-none hover:text-orange-500 transition-colors duration-300">
      Blog.minjong
    </a>
    <div class="flex font-semibold items-center gap-3">
      <a href="/post" class="hover:text-orange-500 transition-colors duration-300">작성한 글</a>
      <a href="/note" class="hover:text-orange-500 transition-colors duration-300">작성한 메모</a>
      <a href="https://github.com/minjongbaek" target="_blank">
        <GithubIcon class="w-5 h-5" />
      </a>
      <!-- TODO: ViewTransitions 충돌 해결 -->
      <!-- <ThemeIcon /> -->
    </div>
  </div>
</header>
