---
import { Icon } from "astro-icon";
interface Props extends Pick<HTMLAnchorElement, "href"> {
  icon: "github" | "link";
}

const { icon, href } = Astro.props;
---

<div class="flex gap-2 items-center">
  <div class="w-4">
    <Icon name={icon} class="w-full dark:fill-gray-100" />
  </div>
  <a
    class="text-blue-500 dark:text-blue-400 hover:text-blue-600 dark:hover:text-blue-500 transition-colors duration-300 hover:underline"
    href={href}
    target="_blank"><slot /></a
  >
</div>
