---
import type { CollectionEntry } from "astro:content";
import Tag from "@/components/Common/Tag.astro";

type Props = CollectionEntry<"post">;

const {
  slug,
  data: { title, description, date, tags },
} = Astro.props;
---

<a href={`/post/${slug}`} class="inline-block text-current group text-sm">
  <div class="flex flex-col w-full gap-1">
    <div class="text-sm text-slate-500">
      {date.toLocaleDateString("ko-KR")}
    </div>
    <div class="flex gap-4 items-center">
      {tags.map((tag) => <Tag>#{tag}</Tag>)}
    </div>
    <div>
      <p
        class="inline-block text-lg font-semibold group-hover:text-orange-500 transition-colors duration-300 break-keep"
      >
        {title}
      </p>
      <p>{description}</p>
    </div>
  </div>
</a>
