---
import BaseHead from "@/components/Common/BaseHead.astro";
import Footer from "@/components/Common/Footer.astro";
import Header from "@/components/Common/Header.astro";
import PartytownScripts from "@/components/Scripts/PartytownScripts.astro";
import { ViewTransitions } from "astro:transitions";
import type { Meta } from "@/types/meta";
import "@/styles/global.css";

type Props = Meta;

const meta = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead {...meta} />
    <ViewTransitions />
    <PartytownScripts />
    <style>
      body {
        @apply bg-white dark:bg-stone-900 dark:text-gray-300;
      }
    </style>
  </head>
  <body>
    <div class="container mx-auto px-4 max-w-2xl min-h-screen">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
