---
import BlogStyles from "@/components/BlogStyles.astro";
import Footer from "@/components/Base/Footer.astro";
import Header from "@/components/Base/Header.astro";
---

<!DOCTYPE html>
<html lang="ko" class="overflow-y-scroll">
  <head>
    <slot name="base-head" />
    <script
      type="text/partytown"
      src=`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.GTAG_ID}`
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", `${import.meta.env.GTAG_ID}`);
    </script>
  </head>
  <body>
    <BlogStyles />
    <div class="container mx-auto px-4 max-w-3xl min-h-screen">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
