<header class="sticky top-0 bg-white z-20 border-b-2 mb-2">
  <div class="py-3 flex justify-between items-center">
    <a href="/">
      <h1 class="font-semibold text-xl cursor-pointer select-none">
        Blog.minjongdev
      </h1>
    </a>
    <div>
      <a href="/tags">
        <h1 class="font-semibold cursor-pointer select-none">Tags</h1>
      </a>
    </div>
  </div>
</header>
