---
import GlobalStyles from "@/components/GlobalStyles.astro";
import Footer from "./Footer";
import Header from "./Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import BaseHead from "@/components/BaseHead.astro";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <GlobalStyles />
    <div class="container mx-auto px-4 max-w-2xl min-h-screen">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
